<div class="columns profile">
  <div class="column is-narrow">
    <figure class="image is-128x128">
      <%= profile_image(user, 128, true) %>
    </figure>
  </div>
  <div class="column">
    <h2>Email</h2>
    <p>
      <%= @user.email %>
    </p>
    <%= turbo_frame_tag "user" do %>
      <h2>Username</h2>
      <p>
        <%= @user.username %>
      </p>
      <div class="control is-flex">
        <% if user == current_user %>
          <%= link_to 'Edit', edit_user_path(user), class: "button is-link" %>
        <% else %>
          <%= render 'follows/follow_button', followed_user: user %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="column">
    <div class="followers">
      <h2>Followers</h2>

      <%= link_to followers_user_follows_path(user) do %>
        <div class="followers">
          <i class="fa-solid fa-users"></i>
          <span><%= user.followers.count %></span>
        </div>
      <% end %>
    </div>
    <div class="followed-users">
      <h2>Followed users</h2>

      <%= link_to  followed_users_user_follows_path(user) do %>
        <div class="followers">
          <i class="fa-solid fa-users"></i>
          <span><%= user.followed_users.count %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>