<nav class="navbar" role="navigation" aria-label="main navigation" data-controller="navbar">
  <div class="navbar-brand">    
    <%= link_to root_path, class: "navbar-item" do %>
      <%= image_tag("mongoose.png", class: "logo") %>
    <% end %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" data-navbar-target="burger" data-action="click->navbar#toggle">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu" data-navbar-target="menu">
    <div class="navbar-start">
      <%= link_to 'Latests posts', filtered_posts_path("all"), class: "navbar-item"%>
      <%= link_to 'Mongooses', users_path, class: "navbar-item" %>
    </div>

    <div class="navbar-end">
        <% if user_signed_in? %>
          <%= render 'shared/header/create-post-button' %>
          <div class="navbar-item">
            <%= render 'notifications/button', user: current_user %>
          </div>
          <%= render 'shared/header/navbar-dropdown' %>
        <% else %>
          <%= render 'shared/header/navbar-buttons' %>
        <% end %>
    </div>
  </div>
</nav>