<div class="container is-desktop">
  <div class="content mx-5">
    <%= turbo_frame_tag "post" do %>
      <div class="content">
        <h1>
          <%= @post.title %>
        </h1>
    
        <p>
          <%= @post.body %>
        </p>
    
      </div>
      <div class="actions is-flex is-flex-direction-row mt-2">
        <% if owner?(@post) %>
            <%= link_to 'Edit', edit_post_path(@post), class: "button is-link mr-1" %>
            <%= link_to "Destroy", post_path(@post), class: "button is-danger mr-1", data: {
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure?"
                          } %>
        <% end %>
        <div class="is-flex is-justify-content-center is-align-items-center p-2">
          <%= render 'likes/like', likeable: @post %>
        </div>
      </div>

    <% end %>
    <div class="comments" id="comments">
      <div class="comments">
        <% @comments.each do |comment| %>
          <%= render 'comments/comment', comment:  %>
        <% end %>
      </div>
    </div>
    <%= turbo_frame_tag "new_comment", target: "_top" do %>
      <%= render 'comments/form', post: @post, comment: @comment %>
    <% end%>
  </div>
</div>
