<div class="container">
  <div class="content">
    <h1>
      <%= @post.title %>
    </h1>
  
    <p>
      <%= @post.body %>
    </p>
    
  </div>
  <div class="actions">
    <%= link_to 'Back', posts_path %>
    <%= link_to 'Edit', edit_post_path(@post) %>
    <%= link_to "Destroy", post_path(@post), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
  </div>
</div>