<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">    
    <%= link_to "The Mongoose Den", root_path, class: "navbar-item" %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        Documentation
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <% if user_signed_in? %>
          <div class="buttons">
            <%= link_to 'Create Post', new_post_path, class: "button is-link" %>
            <%= link_to 'Profile', current_user, class: "button is-link" %>
            <%= link_to 'Log out', destroy_user_session_path, class: "button is-primary", data: {
              turbo_method: :delete
            } %>
          </div>
        <% else %>
          <div class="buttons">
            <%= link_to 'Sign up', new_user_registration_path, class: "button is-primary" %>
            <%= link_to 'Log in', new_user_session_path, class: "button is-light" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>