<nav class="navbar" role="navigation" aria-label="main navigation" data-controller="navbar">
  <div class="navbar-brand">    
    <%= link_to "The Mongoose Den", root_path, class: "navbar-item" %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" data-navbar-target="burger" data-action="click->navbar#toggle">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu" data-navbar-target="menu">
    <div class="navbar-start">
      <%= link_to 'Mongooses', users_path, class: "navbar-item" %>

      <a class="navbar-item">
        Documentation
      </a>
    </div>

    <div class="navbar-end">
        <% if user_signed_in? %>
          <%= render 'layouts/header/create-post-button' %>
          <%= render 'layouts/header/navbar-dropdown' %>
        <% else %>
          <%= render 'layouts/header/navbar-buttons' %>
        <% end %>
    </div>
  </div>
</nav>