<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: Rails.application.class.module_parent.name,
                        description: 'Modern Ruby on Rails blog',
                        keywords: 'ruby, blog, ruby-on-rails',
                        reverse: true, # app name at the end like `5 posts | SupeRails`
                        image: asset_url("mongoose.png"),
                        og: {
                          image: asset_url("mongoose.png"),
                        }
    %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="has-navbar-fixed-bottom"> 
      <header class="column is-narrow">
        <%= render 'shared/header' %>
      </header>
      <%= render 'shared/flash' %>
      <%= yield %>
      <div class="column is-narrow">
        <%= render 'shared/footer' %>
      </div> 
     <%= render 'shared/mobile-navbar', user: current_user %>
  </body>
</html>
