<!DOCTYPE html>
<html>
  <head>
    <title>TheMongooseDen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div class="columns is-flex-direction-column is-fullheight-100vh">
      <header class="column is-narrow">
        <%= render 'layouts/header' %>
      </header>
      <div class="column">
        <%= yield %>
      </div>
      <div class="column is-narrow">
        <%= render 'layouts/footer' %>
      </div> 
    </div>    
  </body>
</html>
